@charset "utf-8";

body {
	background-color: #f3f3f3;
	margin:0;
	padding:0;
}

.ssimages li {
	position:absolute;
	margin-left:35%;
};



h1 {
	position:absolute;	
}

#logo {
	text-align:center;
}

hr {
	width:75%;	
}

#test {
	position:relative;	
}

