@charset "utf-8";

body {
	background-color: #666;
	margin:0;
	padding:0;
}



#content p {
	font-family:"Roboto", Verdana, Geneva, sans-serif;
	font-size: 1.5em;	
	color: gray;
	position:relative;
	text-align:center;
	margin:0;
	padding:0;
}

.ssimages li {
	margin-left:35%;
}

#logo {
	position:relative;
	text-align:center;
	font-size: 5em;
    color: rgba(255, 255, 255, 0.15);
	margin: 0.3em 0 0 0;
	padding:0;
}

hr {
	width:75%;	
}

#push {
	position:relative;
	width: 0.01em;
}
